/* body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 500px;
  background: linear-gradient(180deg, #70f, #40f);
} */

.container {
  width: 300px;
  height: 300px;
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
}

.item {
  width: 150px;
  height: 150px;
  background: white;
  border-radius: inherit;
}

.hero_elements_container {
  width: 40%;
  margin: 5rem auto 0rem auto;
  display: flex;
  flex-direction: row;
  border: 1px solid red;
  justify-content: center;
  overflow: visible;
  padding: 3rem;
  position: relative;
}
.hero_child {
  position: absolute;
  top: 15rem;
  right: 25%;
}
.main {
  font-size: 2rem;
}

.nav {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0rem 1rem 0rem 1rem;
  font-size: 1.2rem;
  padding-right: 1rem;
}
.nav_ul {
  list-style: none;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

/* .nav_li {
  list-style: none;
  border: 1px solid red;
} */

.header {
  width: 100%;
  /* margin-top: 0rem; */
  background-color: var(--darkblue);
  color: white;
  padding: 1rem;
  /* border: 1px solid red; */
}

.hero_text {
  text-align: center;
  margin: 1rem auto;
}
.hero_text_lg {
  color: var(--lightpink);
}
.hero_text_sm {
  color: var(--darkgray);
}

.hero_main_container {
  display: flex;
  flex-direction: row;
  border: 1px solid rgb(4, 255, 0);
}

.aside_icon_container {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  margin: 20rem 0rem 0rem 2rem;
}
.PortfolioSubTool_frame {
  width: 80%;
}
